<div class="container my-5">
  <div class="card shadow-lg border-0">
    <!-- Recipe Image -->
    <% if @recipe.image_url.present? %>
      <%= image_tag @recipe.image_url, class: "card-img-top rounded-top", alt: @recipe.name %>
    <% else %>
      <img src="https://via.placeholder.com/800x400" class="card-img-top rounded-top" alt="Default Recipe Image">
    <% end %>

    <!-- Recipe Details -->
    <div class="card-body">
      <h1 class="card-title text-center text-primary"><%= @recipe.name %></h1>

      <!-- Ingredients -->
      <h4 class="text-dark mt-4">Ingredients:</h4>
      <ul class="list-group list-group-flush">
        <% @recipe.ingredients.split(",").each do |ingredient| %>
          <li class="list-group-item"><%= ingredient.strip %></li>
        <% end %>
      </ul>

      <!-- Instructions -->
      <h4 class="text-dark mt-4">Instructions:</h4>
      <ol class="list-group list-group-numbered">
        <% @recipe.instructions.split(".").each do |step| %>
          <% next if step.blank? %>
          <li class="list-group-item"><%= step.strip %></li>
        <% end %>
      </ol>

      <!-- Actions -->
      <div class="d-flex justify-content-center mt-4">
        <%= link_to "Back to Recipes", recipes_path, class: "btn btn-outline-secondary btn-lg" %>
      </div>
    </div>
  </div>
</div>
